#results {
  margin-top: 15px;
  margin-right:90px;
  margin-left:90px;
  font-family: Times;
  border-bottom: 2px;
  border-style: solid;
  border-bottom-color: black; 

}

#saved {
  margin-top: 15px;
  margin-right:90px;
  margin-left:90px;
  font-family: Times;
  border-bottom: 2px;
  border-style: solid;
  border-bottom-color: black; 

}